name: ionbus

services:
  gateway:
      build:
        context: ../..
        dockerfile: docker/gateway/Dockerfile
      container_name: ionbus_gateway
      env_file:
      - ./cmd/gateway/.env
      ports:
        - "${MQTT_PORT}:${MQTT_PORT}"
        - "${MQTT_WS_PORT}:${MQTT_WS_PORT}"
      depends_on:
        - gateway-mqtt-broker
      restart: unless-stopped

  gateway-mqtt-broker:
    image: eclipse-mosquitto:2.0.15
    container_name: ionbus_mqtt
    env_file:
      - ./cmd/gateway/.env
    ports:
      - "${MQTT_PORT}:${MQTT_PORT}"
      - "${MQTT_WS_PORT}:${MQTT_WS_PORT}"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mqtt_data:/mosquitto/data
      - mqtt_log:/mosquitto/log
    restart: unless-stopped
  
volumes:
  rabbitmq_data:
  postgres_data:
  mqtt_data:
  mqtt_log: